{
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }], "react"],
      "plugins": [
        "emotion",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    },
    "devClient": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": ["android >= 4.4", "ios_saf > 9", "and_chr >= 56"] },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        ["emotion", { "autoLabel": true }],
        ["lodash", { "id": ["lodash", "recompose"] }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }],
        "react-hot-loader/babel"
      ]
    },
    "prodClient": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": ["android >= 4.4", "ios_saf > 9", "and_chr >= 56"] },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        "emotion",
        ["lodash", { "id": ["lodash", "recompose"] }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    },
    "devServer": {
      "presets": [["env", { "targets": { "node": "current" } }], "react"],
      "plugins": [
        ["emotion", { "autoLabel": true }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    },
    "prodServer": {
      "presets": [["env", { "targets": { "node": "current" } }], "react"],
      "plugins": [
        "emotion",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    }
  }
}
