{
  "env": {
    "devClient": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": ["android >= 4.4", "ios_saf > 9", "and_chr >= 56"] },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        "emotion",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        "universal-import",
        "react-hot-loader/babel"
      ]
    },
    "prodClient": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": ["android >= 4.4", "ios_saf > 9", "and_chr >= 56"] },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        "emotion",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        "universal-import"
      ]
    },
    "server": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": "current" }
          }
        ],
        "react"
      ],
      "plugins": [
        "emotion",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        "universal-import"
      ]
    }
  }
}
