{
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }], "react"],
      "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    },
    "fastClient": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["android >= 5", "ios_saf > 9", "and_chr >= 40"]
            },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-inline-environment-variables",
        ["lodash", { "id": ["lodash", "recompose"] }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "devClient": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["android >= 5", "ios_saf > 9", "and_chr >= 40"]
            },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        ["styled-components", { "ssr": true }],
        "transform-inline-environment-variables",
        ["lodash", { "id": ["lodash", "recompose"] }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }],
        "react-hot-loader/babel"
      ]
    },
    "prodClient": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["and_chr >= 60"]
            },
            "useBuiltIns": "usage"
          }
        ],
        "react"
      ],
      "plugins": [
        ["styled-components", { "ssr": true }],
        "transform-inline-environment-variables",
        ["lodash", { "id": ["lodash", "recompose"] }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    },
    "server": {
      "presets": [["env", { "targets": { "node": "current" } }], "react"],
      "plugins": [
        ["styled-components", { "ssr": true }],
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["universal-import", { "disableWarnings": true }]
      ]
    }
  }
}
