{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "window": true,
    "document": true,
    "test": true,
    "expect": true,
    "beforeEach": true,
    "describe": true,
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-param-reassign": 0,
    "array-callback-return": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "comma-dangle": [
      "error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ]
  }
}
