{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jest/recommended", "prettier", "prettier/react"],
  "plugins": ["jest"],
  "globals": { "window": true },
  "rules": { "import/no-extraneous-dependencies": 0 },
  "env": { "jest/globals": true }
}
