{
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "publish": ["@semantic-release/github"],
  "success": [
    {
      "path": "@semantic-release/github",
      "successComment":
        ":tada: This issue has been resolved in version ${nextRelease.version} :tada:\n\nThe release is available on [GitHub release](<github_release_url>)"
    }
  ],
  "fail": ["@semantic-release/github"],

  "branch": "master",
  "npmPublish": false
}
